{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ post.category.name }}</h6>
                <p class="card-text">{{ post.description }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</small>
                <small class="text-muted">{{ post.author.fullName }}</small>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <h2>Comments</h2>
        <div class="post-comments">
            {% for comment in post.comments %}
                <div class="card comments mt-4 mb-4">
                    <div class="card-body">
                        <p class="card-text">{{ comment.content }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ comment.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</small>
                        <small class="text-muted">{{ comment.author.fullname }}</small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {{ include('blog/comment_form.html.twig') }}
{% endblock %}