{% extends 'base.html.twig' %}
{% block body %}
    <div class="row mb-4 mt-4">
        {% for post in paginator.results %}

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ post.category.name }}</h6>
                        <p class="card-text">{{ post.shortDescription }}</p>
                        <a href="{{ path('blog_detail', {slug: post.slug}) }}" class="btn btn-primary">Show detail</a>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ post.publishedAt|format_datetime('long', 'medium', '', 'UTC') }}</small>
                        <small class="text-muted">{{ post.author.fullName }}</small>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

    {% if paginator.hasToPaginate %}
        <div class="row">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if paginator.hasPreviousPage %}{% else %}disabled{% endif %}">
                        <a href="{{ path('index_paginated', {page: paginator.previousPage}) }}"
                           class="page-link">Previous</a>
                    </li>

                    {% for i in 1..paginator.lastPage %}
                        {% if i == paginator.currentPage %}
                            <li class="page-item active"><span class="page-link">{{ i }}</span></li>
                        {% else %}
                            <li class="page-item"><a class="page-link"
                                                     href="{{ path('index_paginated', {page: i}) }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}

                    <li class="page-item {% if paginator.hasNextPage %}{% else %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('index_paginated', {page: paginator.nextPage}) }}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    {% endif %}
{% endblock %}

